/* Header.jsx */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* PokemonCard.jsx */
.card {
    text-align: center;
}

.card-button {
    margin: 10px;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }