/* App.jsx */
.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

/* Header.jsx */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2%;
}

.submit-button {
    background-color: #0B5ED7;
    color: white;
    margin-left: 10px;
}

/* PokemonCard.jsx */
.card {
    text-align: center;
}

.sprite {
    border: 2px solid black;
    margin-bottom: 10px;
}

.card-button {
    margin: 10px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

/* PokemonTeamPage.jsx */
.team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.team-member {
    margin: 2%;
}